{% extends 'base.html.twig' %} {% block title 'Zero Blog|Editer profil' %} {%
block body %}
<h1>Edition profil</h1>
{{ form_start(formProfile) }}
{{ form_widget(formProfile) }}
<button class="btn btn-primary mt-3" type="submit">Modifier</button>
{{ form_end(formProfile) }}
{% endblock %}
