{% extends 'base.html.twig' %} {% block title %}Zero blog|Page d'accueil{%
endblock %} {% block body %}
<section>
  <h1>Bienvenue sur Zero Blog</h1>
  <img
    src="{{ asset('images/homepage/banner-g47f358052_1920.jpg') }}"
    class="img-fluid"
    alt="coding"
  />
  <p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
    ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
    parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
    pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
    pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
    rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede
    mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper
    nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
    consequat vitae, eleifend ac, enim.
  </p>
</section>
{% endblock %}
